*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("images/25de886e987b0809ad127f22a3905c9b.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
body nav{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("images/f88bd014c2adbe1726906199e9bba135.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
body .html3{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("images/0f0051f5c3235a488f167896b6402278.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
body .html4{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("images/62fedc15754e59de17d5fa214c8cd28c.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
body .html5{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("images/bbeb45a792407ecf0532d6d6dcff1304.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Brush738 BT';
    color: #ccc;
    margin: 20px;
}
span{
    font-family: 'BlacklightD';
    color: #2ecc71;
}
.box{
    margin: 30px;
    display: inline-flex;
}
.box input[type = "text"]{
    border: 0;
    height: 45px;
    width: 200px;
    border: 2px solid #2ecc71;
    background: none;
    border-radius: 25px;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
   /* padding: 4px 7px;*/
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;  
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;

}
.box input[type = "text"]:focus{
    width: 280px;
    border-color: #ccc;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display:  block;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 4px 7px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;  
    cursor: pointer; 
    width: 100px;
    height: 45px;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.container{
    margin: 30px;
    
}
.container img{
    height: 300px;
    width: 350px;
    border: solid #ccc 20px;
    float: right;
}
.container p{
    font-weight: bold;
    font-size: 17px;
    font-family: 'FlamencoD';
    color: #ccc;

}
.next .btn{
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2ecc71;
    border: none;
    opacity: .7;
}
.next .btn a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.next .btn:hover{
    background-color: #ccc;
    transition: 2s;
}
.icons{
    margin-top: 100px;
    margin-left: 60px;
    display: flex;
    /*justify-content: space-between;*/
}
.icons img{
    margin-right: 15px;
    height: auto;
    width: 50px;
}
.icons a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cooper Black';
    margin-right: 10px;
    margin-top: 15px;
    color: #2ecc71;
}
.icons a::after{
    content: '';
    width: 0;
    height: 5px;
    background: #ccc;
    display: block;
    margin: auto;
    transition: .5s;
}
.icons a:hover::after{
    width: 100%;
}